$clrTitle:#FCCA46;
$clrBg: #579C87;

body {
    font-family: 'Robot', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: $clrBg;
    color: $clrTitle;
    margin: 0;
    font-size: 4em;
}

.container, .carte {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: $clrTitle;
}

.content a {
    font-size: 30px;
}

footer a {
    font-size: 1.5em;
    padding: 0 25px;
}

footer a:hover {
    animation: wiggle 0.5s;
    animation-iteration-count: infinite;



@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

}

.menu {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    justify-content: center;
    margin: 0 40px 40px 0;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;
}

.menuTop {
    display: flex;
}

.menuBot {
    display: flex;
}

.menuNote {
    background-color: #FCDFDB;
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;
}

.menuNote a {
    color: rgb(66, 49, 33);
}

.menuNote h2, h3 {
    color: rgb(66, 49, 33);
    display: flex;
    flex-direction: column;
}

.fas {
    font-size: 1.5em;
    background: linear-gradient(to right, rgb(255, 0, 0) 0%, #ff9900 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 .fas {
    font-size: 1em;
}

h5 .fas {
    font-size: 1em;
    margin-right: 10px;
    background: linear-gradient(to right, rgb(255, 0, 0) 0%, #ff9900 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menuChic {
    background-color: rgb(248, 228, 246);
    font-family: 'Handlee', cursive;
    font-size: 1.3em;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;
    color: rgb(65, 60, 55);
}

.menuChic h2 {
    background: linear-gradient(to right, rgb(85, 79, 71) 40%, #4f0566 60%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menuChic a {
    color: rgb(65, 60, 55);
}

.menuDelice {
    background-color: #F9F9F9;
    font-family: 'Cinzel', serif;
    font-size: 1em;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;
}

.menuDelice h2 {
    background: linear-gradient(to right, rgb(0, 70, 175) 0%, #4c85ff 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menuPalette {
    background-color: #FDFFFD;
    font-size: 1.3em;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;
}

.menuPalette h2 {
    background: linear-gradient(to right, rgb(7, 107, 45) 0%, #00ff00 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.carte .menuNote {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 ;
    width: 700px;
    margin-bottom: 30px;
}

.carte .menuPalette {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 ;
    width: 700px;
    margin-bottom: 30px;
}

.carte .menuChic {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 ;
    width: 700px;
    margin-bottom: 30px;
}

.carte .menuDelice {
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1 ;
    width: 700px;
    margin-bottom: 30px;
}

.carte h2 {
    font-size: 2em;
}

.carte h3 {
    margin-top: 100px;
    font-size: 2em;
}

.carte h4 {
    font-size: 1.1em;
    height: 50px;
}

.carte h5 {
    font-size: 1.2em;
}

.puceInfos {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    line-height: 200%;
}

.incoming {
    font-size: 2.5em;
    color: $clrTitle;
    display: flex;
    background-color: $clrBg;
    width: 350px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

footer {
    width: 100%;
    padding: 20px 20px 20px 0;
    background-color: $clrBg;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    display: flex;
    justify-content: space-between;
}


.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  .menuNote .entrees {
    text-align: center;
  }
  .menuNote .entrees span {
    display: inline-block;
    position: relative;  
  }
  .menuNote .entrees span:before,
  .menuNote .entrees span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid rgb(0, 0, 0);
    top: 0;
    width: 380%;
    
  }
  .menuNote .entrees span:before {
    right: 100%;
    margin-right: 50px;
    margin-top: 13px;
    border:solid 3px rgb(0, 0, 0);
    box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
      border-radius: 30% 40% 80% 90% ;
    
  }
  .menuNote .entrees span:after {
    left: 100%;
    margin-left: 50px;
    margin-top: 13px;

    border:solid 3px rgb(0, 0, 0);
    box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
      border-radius: 40% 50% 10% 40%;
    
  }

  .menuNote .plats {
    text-align: center;
  }
  .menuNote .plats span {
    display: inline-block;
    position: relative;  
  }
  .menuNote .plats span:before,
  .menuNote .plats span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid #41403E;
    box-shadow: 0px 1px 5px  black;
    top: 0;
    width: 200%;
  }
  .menuNote .plats span:before {
    right: 100%;
    margin-right: 50px;
    margin-top: 13px;

    border:solid 3px rgb(0, 0, 0);
    box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
      border-radius: 30% 40% 80% 40% ;
  }
  .menuNote .plats span:after {
    left: 100%;
    margin-left: 50px;
    margin-top: 13px;

    border:solid 3px rgb(0, 0, 0);
    box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
    border-radius: 40% 50% 10% 40%;
}

  .menuNote .desserts {
    text-align: center;
  }
  .menuNote .desserts span {
    display: inline-block;
    position: relative;  
  }
  .menuNote .desserts span:before,
  .menuNote .desserts span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 1px 5px  black;
    top: 0;
    width: 150%;
  }
  .menuNote .desserts span:before {
    right: 100%;
    margin-right: 50px;
    margin-top: 13px;

    border:solid 3px rgb(0, 0, 0);
    box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
      border-radius: 30% 40% 80% 40% ;
  }
  .menuNote .desserts span:after {
    left: 100%;
    margin-left: 50px;
    margin-top: 13px;

    border:solid 3px rgb(0, 0, 0);
    box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
    border-radius: 40% 50% 10% 40%;
}

.title {
    width: 200px;
    margin: auto;
}

.carte h4:after {
    content: '';
    display: block;
    border-bottom: 3px solid rgb(0, 0, 0);
    box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
    border-radius: 80% 10% 90% 40%;
    width: 0;
    position: relative;
    left: 50px;
    transition: 700ms ease-in-out;
  }

  .carte h4:hover:after {
      width: 100px;
  }

