body {
    font-family: 'Robot', sans-serif;
    margin: 0;
    padding: 0;
}

$clrTitle:#FCCA46;
$clrBg: #579C87;

header {
    background-color: $clrBg;
    text-align: center;
    color: $clrTitle;
    font-size: 2em;
    height: 90px;
}

h1 {
    margin: 0;
}

.container {
    height: 100%;
    margin: 0 0 50px 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1 0 auto;
    padding: 20px;
}

.carte {
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;

    h2 {
        font-size: 2em;
    }

    h3 {
        margin-top: 40px;
        font-size: 2em;
    }

    h4 {
        font-size: 1.1em;
    }

    h5 {
        font-size: 1.2em;
    }
}

.content {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    a {
        font-size: 1em;

    }
}

a {
    text-decoration: none;
    color: $clrTitle;
}

footer a {
    font-size: 1.5em;
    padding: 0 25px;

    &:hover {
        animation: wiggle 0.5s;
        animation-iteration-count: 2;

        @keyframes wiggle {
            0% {
                transform: translate(1px, 1px) rotate(0deg);
            }

            10% {
                transform: translate(-1px, -2px) rotate(-1deg);
            }

            20% {
                transform: translate(-3px, 0px) rotate(1deg);
            }

            30% {
                transform: translate(3px, 2px) rotate(0deg);
            }

            40% {
                transform: translate(1px, -1px) rotate(1deg);
            }

            50% {
                transform: translate(-1px, 2px) rotate(-1deg);
            }

            60% {
                transform: translate(-3px, 1px) rotate(0deg);
            }

            70% {
                transform: translate(3px, 1px) rotate(-1deg);
            }

            80% {
                transform: translate(-1px, -1px) rotate(1deg);
            }

            90% {
                transform: translate(1px, 2px) rotate(0deg);
            }

            100% {
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }
    }
}

.menu {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 450px;
    justify-content: center;
    margin: 0 40px 40px 0;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;
    transition: ease-in-out 500ms;

    &:hover {
        transform: scale(1.4, );
    }
}

.menuTop,
.menuBot {
    display: flex;
}

.prix {
    font-weight: bold;
    padding-left: 100px;
}

.menuNote {
    background-color: rgba(252, 223, 219, 0.404);
    font-family: 'Dancing Script', cursive;
    font-size: 1.3em;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;

    a {
        color: rgb(66, 49, 33);
    }

    h2,
    h3 {
        color: rgb(66, 49, 33);
        display: flex;
        flex-direction: column;
    }
}

.fas {
    font-size: 1.5em;
    background: linear-gradient(to right, rgb(255, 0, 0) 0%, #ff9900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 .fas {
    font-size: 1em;
}

h5 .fas {
    font-size: 1em;
    margin-right: 10px;
    background: linear-gradient(to right, rgb(255, 0, 0) 0%, #ff9900 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menuChic {
    background-color: rgba(248, 228, 246, 0.651);
    font-family: 'Handlee', cursive;
    font-size: 1.3em;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;
    color: rgb(65, 60, 55);

    h2 {
        background: linear-gradient(to right, rgb(85, 79, 71) 40%, #4f0566 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        color: rgb(65, 60, 55);

    }
}

.menuDelice {
    background-color: rgba(226, 219, 173, 0.301);
    font-family: 'Gotu', sans-serif;
    font-size: 1.3em;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;

    h2 {
        background: linear-gradient(to right, rgb(0, 70, 175) 0%, #4c85ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        color: rgb(0, 70, 175);
    }
}


.menuPalette {
    background-color: rgba(253, 255, 253, 0.568);
    font-size: 1.3em;
    box-shadow: rgb(224, 224, 224) 0px 0px 10px 1px;

    h2 {
        background: linear-gradient(to right, rgb(7, 107, 45) 0%, #00ff00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a {
        color: rgb(7, 107, 45);

    }
}

.puceInfos {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    line-height: 200%;
}

.incoming {
    font-size: 2.5em;
    color: $clrTitle;
    display: flex;
    background-color: $clrBg;
    min-height: 70px;
    width: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

footer {
    width: 100%;
    padding: 20px 20px 20px 0;
    background-color: $clrBg;
    position: fixed;
    bottom: 0pt;
    display: flex;
    justify-content: space-between;
}

.spinner {
    width: 70px;
    text-align: center;

    .bounce1 {
        animation-delay: -0.32s;
    }

    .bounce2 {
        animation-delay: -0.16s;
    }

    div {
        width: 15px;
        height: 15px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        animation: sk-bouncedelay 1.2s infinite ease-in-out both;
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10.0px);
    }
}

span:before,
:after {
    width: 150px;
}

.menuNote,
.menuChic,
.menuDelice,
.menuPalette .entrees,
.plats,
.desserts {
    text-align: center;

    span {
        display: inline-block;
        position: relative;

        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 0px;
            border: 2px solid rgb(0, 0, 0);
            top: 0;
        }

        &:before {
            right: 100%;
            margin: 13px 15px 0 25px;
            border: solid 3px rgb(0, 0, 0);
            box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
            border-radius: 30% 40% 80% 90%;
        }

        &:after {
            left: 100%;
            margin: 13px 25px 0 15px;
            border: solid 3px rgb(0, 0, 0);
            box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
            border-radius: 40% 50% 10% 40%;
        }
    }
}

.title {
    width: 200px;
    margin: auto;
}

.carte h4:after {
    content: '';
    display: block;
    border-bottom: 3px solid rgb(0, 0, 0);
    box-shadow: 20px 38px 34px -26px rgb(0, 0, 0);
    border-radius: 80% 10% 90% 40%;
    width: 0;
    position: relative;
    left: 50px;
    transition: 700ms ease-in-out;
}

.carte h4:hover:after {
    width: 100px;
}

@media all and (max-width: 768px) {

    .menuTop,
    .menuBot {
        flex-direction: column;
    }

    .menu {
        margin: 0 0 20px 0;
    }

    .prix {
        margin-left: 10px;
        padding: 0;
        justify-content: center;
        align-self: flex-end;
    }
}

@media all and (max-width: 425px) {

    .carte h3 {
        margin-top: 20px;
        font-size: 1.5em;
    }

    .puceInfos {
        padding-bottom: 25px;
    }

    .incoming {
        font-size: 2em;
    }

    footer {
        padding: 0;
    }

    span:before,
    :after {
        width: 50px;
    }
}