body {
  font-family: 'Robot', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #579C87;
  text-align: center;
  color: #FCCA46;
  font-size: 2em;
  height: 90px;
}

h1 {
  margin: 0;
}

.container {
  height: 100%;
  margin: 0 0 50px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 20px;
}

.carte {
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: #FCCA46;
}

.content a {
  font-size: 1em;
}

footer a {
  font-size: 1.5em;
  padding: 0 25px;
}

footer a:hover {
  -webkit-animation: wiggle 0.5s;
          animation: wiggle 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  min-height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 40px 40px 0;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
}

.menu:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.menuTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuBot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuNote {
  background-color: #FCDFDB;
  font-family: 'Dancing Script', cursive;
  font-size: 1.3em;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
}

.menuNote a {
  color: #423121;
}

.menuNote h2,
h3 {
  color: #423121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fas {
  font-size: 1.5em;
  background: -webkit-gradient(linear, left top, right top, from(red), to(#ff9900));
  background: linear-gradient(to right, red 0%, #ff9900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 .fas {
  font-size: 1em;
}

h5 .fas {
  font-size: 1em;
  margin-right: 10px;
  background: -webkit-gradient(linear, left top, right top, from(red), to(#ff9900));
  background: linear-gradient(to right, red 0%, #ff9900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuChic {
  background-color: #f8e4f6;
  font-family: 'Handlee', cursive;
  font-size: 1.3em;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
  color: #413c37;
}

.menuChic h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #554f47), color-stop(60%, #4f0566));
  background: linear-gradient(to right, #554f47 40%, #4f0566 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuChic a {
  color: #413c37;
}

.menuDelice {
  background-color: #F9F9F9;
  font-family: 'Gotu', sans-serif;
  font-size: 1.3em;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
}

.menuDelice h2 {
  background: -webkit-gradient(linear, left top, right top, from(#0046af), to(#4c85ff));
  background: linear-gradient(to right, #0046af 0%, #4c85ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuDelice a {
  color: #0046af;
}

.menuPalette {
  background-color: #FDFFFD;
  font-size: 1.3em;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
}

.menuPalette h2 {
  background: -webkit-gradient(linear, left top, right top, from(#076b2d), to(#00ff00));
  background: linear-gradient(to right, #076b2d 0%, #00ff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuPalette a {
  color: #076b2d;
}

.carte .carteNote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 700px;
  margin-bottom: 30px;
}

.carte .cartePalette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 700px;
  margin-bottom: 30px;
}

.carte .carteChic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 700px;
  margin-bottom: 30px;
}

.carte .carteDelice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 700px;
  margin-bottom: 30px;
}

.carte h2 {
  font-size: 2em;
}

.carte h3 {
  margin-top: 100px;
  font-size: 2em;
}

.carte h4 {
  font-size: 1.1em;
}

.carte h5 {
  font-size: 1.2em;
}

.puceInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
  line-height: 200%;
}

.incoming {
  font-size: 2.5em;
  color: #FCCA46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579C87;
  min-height: 70px;
  width: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

footer {
  width: 100%;
  padding: 20px 20px 20px 0;
  background-color: #579C87;
  position: fixed;
  bottom: 0pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

.menuNote .entrees {
  text-align: center;
}

.menuNote .entrees span {
  display: inline-block;
  position: relative;
}

.menuNote .entrees span:before,
.menuNote .entrees span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  top: 0;
  width: 255%;
}

.menuNote .entrees span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 90%;
}

.menuNote .entrees span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuNote .plats {
  text-align: center;
}

.menuNote .plats span {
  display: inline-block;
  position: relative;
}

.menuNote .plats span:before,
.menuNote .plats span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid #41403E;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  top: 0;
  width: 150%;
}

.menuNote .plats span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 40%;
}

.menuNote .plats span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuNote .desserts {
  text-align: center;
}

.menuNote .desserts span {
  display: inline-block;
  position: relative;
}

.menuNote .desserts span:before,
.menuNote .desserts span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  top: 0;
  width: 100%;
}

.menuNote .desserts span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 40%;
}

.menuNote .desserts span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuPalette .entrees {
  text-align: center;
}

.menuPalette .entrees span {
  display: inline-block;
  position: relative;
}

.menuPalette .entrees span:before,
.menuPalette .entrees span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  top: 0;
  width: 255%;
}

.menuPalette .entrees span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 90%;
}

.menuPalette .entrees span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuPalette .plats {
  text-align: center;
}

.menuPalette .plats span {
  display: inline-block;
  position: relative;
}

.menuPalette .plats span:before,
.menuPalette .plats span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid #41403E;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  top: 0;
  width: 150%;
}

.menuPalette .plats span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 40%;
}

.menuPalette .plats span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuPalette .desserts {
  text-align: center;
}

.menuPalette .desserts span {
  display: inline-block;
  position: relative;
}

.menuPalette .desserts span:before,
.menuPalette .desserts span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  top: 0;
  width: 100%;
}

.menuPalette .desserts span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 40%;
}

.menuPalette .desserts span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuChic .entrees {
  text-align: center;
}

.menuChic .entrees span {
  display: inline-block;
  position: relative;
}

.menuChic .entrees span:before,
.menuChic .entrees span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  top: 0;
  width: 255%;
}

.menuChic .entrees span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 90%;
}

.menuChic .entrees span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuChic .plats {
  text-align: center;
}

.menuChic .plats span {
  display: inline-block;
  position: relative;
}

.menuChic .plats span:before,
.menuChic .plats span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid #41403E;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  top: 0;
  width: 150%;
}

.menuChic .plats span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 40%;
}

.menuChic .plats span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuChic .desserts {
  text-align: center;
}

.menuChic .desserts span {
  display: inline-block;
  position: relative;
}

.menuChic .desserts span:before,
.menuChic .desserts span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  top: 0;
  width: 100%;
}

.menuChic .desserts span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 40%;
}

.menuChic .desserts span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuDelice .entrees {
  text-align: center;
}

.menuDelice .entrees span {
  display: inline-block;
  position: relative;
}

.menuDelice .entrees span:before,
.menuDelice .entrees span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  top: 0;
  width: 255%;
}

.menuDelice .entrees span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 90%;
}

.menuDelice .entrees span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuDelice .plats {
  text-align: center;
}

.menuDelice .plats span {
  display: inline-block;
  position: relative;
}

.menuDelice .plats span:before,
.menuDelice .plats span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid #41403E;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  top: 0;
  width: 150%;
}

.menuDelice .plats span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 40%;
}

.menuDelice .plats span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.menuDelice .desserts {
  text-align: center;
}

.menuDelice .desserts span {
  display: inline-block;
  position: relative;
}

.menuDelice .desserts span:before,
.menuDelice .desserts span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  -webkit-box-shadow: 0px 1px 5px black;
          box-shadow: 0px 1px 5px black;
  top: 0;
  width: 100%;
}

.menuDelice .desserts span:before {
  right: 100%;
  margin-right: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 40%;
}

.menuDelice .desserts span:after {
  left: 100%;
  margin-left: 50px;
  margin-top: 13px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.title {
  width: 200px;
  margin: auto;
}

.carte h4:after {
  content: '';
  display: block;
  border-bottom: 3px solid black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 80% 10% 90% 40%;
  width: 0;
  position: relative;
  left: 50px;
  -webkit-transition: 700ms ease-in-out;
  transition: 700ms ease-in-out;
}

.carte h4:hover:after {
  width: 100px;
}

@media all and (max-width: 768px) {
  .carte h3 {
    margin-top: 20px;
  }
  .menuTop,
  .menuBot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    margin: 0 0 20px 0;
  }
  .menuNote .entrees span:before,
  .menuNote .entrees span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 100%;
  }
  .menuNote .plats span:before,
  .menuNote .plats span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 50%;
  }
  .menuNote .desserts span:before,
  .menuNote .desserts span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 30%;
  }
  .menuPalette .entrees span:before,
  .menuPalette .entrees span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 100%;
  }
  .menuPalette .plats span:before,
  .menuPalette .plats span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 50%;
  }
  .menuPalette .desserts span:before,
  .menuPalette .desserts span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 30%;
  }
  .menuChic .entrees span:before,
  .menuChic .entrees span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 100%;
  }
  .menuChic .plats span:before,
  .menuChic .plats span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 50%;
  }
  .menuChic .desserts span:before,
  .menuChic .desserts span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 30%;
  }
  .menuDelice .entrees span:before,
  .menuDelice .entrees span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 100%;
  }
  .menuDelice .plats span:before,
  .menuDelice .plats span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 50%;
  }
  .menuDelice .desserts span:before,
  .menuDelice .desserts span:after {
    content: "";
    position: absolute;
    height: 0px;
    border: 2px solid black;
    top: 0;
    width: 30%;
  }
  .prix {
    margin-left: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media all and (max-width: 768px) and (max-width: 425px) {
  .incoming {
    font-size: 2em;
  }
  footer {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */