body {
  font-family: 'Robot', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #579C87;
  text-align: center;
  color: #FCCA46;
  font-size: 2em;
  height: 90px;
}

h1 {
  margin: 0;
}

.container {
  height: 100%;
  margin: 0 0 50px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 20px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [first] 400px [line2] 400px [end];
      grid-template-columns: [first] 400px [line2] 400px [end];
  -ms-grid-rows: [row1-start] 50% [row1-end] 50% [last-line];
      grid-template-rows: [row1-start] 50% [row1-end] 50% [last-line];
  -webkit-column-gap: 25px;
          column-gap: 25px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  min-height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px 0;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.menu a {
  -webkit-transition: ease-in-out 500ms;
  transition: ease-in-out 500ms;
}

.menu:hover {
  opacity: 0.5;
}

.menu:hover a {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menuNote {
  background-color: rgba(252, 223, 219, 0.404);
  font-family: 'Dancing Script', cursive;
  font-size: 1.2em;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
}

.menuNote p {
  font-size: 1.2em;
}

.menuNote a {
  color: #423121;
}

.menuNote h2 {
  font-size: 2em;
}

.menuNote h2,
.menuNote h3 {
  color: #423121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menuNote .fas {
  font-size: 1.5em;
}

.menuNote .fas::before {
  background-image: -webkit-gradient(linear, left top, right top, from(red), to(#ff9900));
  background-image: linear-gradient(to right, red 0%, #ff9900 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuNote h2 .fas {
  font-size: 1em;
}

.menuNote h5 .fas {
  font-size: 1em;
  margin-right: 10px;
}

.menuChic {
  background-color: rgba(248, 228, 246, 0.651);
  font-family: 'Handlee', cursive;
  font-size: 1.3em;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
  color: #413c37;
}

.menuChic h2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #8a7d6d), color-stop(60%, #4f0566));
  background: linear-gradient(to right, #8a7d6d 40%, #4f0566 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuChic a {
  color: #413c37;
}

.menuDelice {
  background-color: rgba(226, 219, 173, 0.301);
  font-family: 'Gotu', sans-serif;
  font-size: 1.2em;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
}

.menuDelice h2 {
  background: -webkit-gradient(linear, left top, right top, from(#0046af), to(#4c85ff));
  background: linear-gradient(to right, #0046af 0%, #4c85ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuDelice a {
  color: #0046af;
}

.menuPalette {
  background-color: rgba(253, 255, 253, 0.568);
  font-size: 1.2em;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
}

.menuPalette h2 {
  background: -webkit-gradient(linear, left top, right top, from(#076b2d), to(#00ff00));
  background: linear-gradient(to right, #076b2d 0%, #00ff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuPalette a {
  color: #076b2d;
}

.incoming {
  font-size: 2em;
  color: #FCCA46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579C87;
  width: 400px;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

.incoming .bouncer {
  width: 70px;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.incoming .bouncer .bounce1 {
  -webkit-animation-delay: -0.32s;
          animation-delay: -0.32s;
}

.incoming .bouncer .bounce2 {
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.incoming .bouncer div {
  width: 8px;
  height: 8px;
  background-color: #FCCA46;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.2s infinite ease-in-out both;
          animation: sk-bouncedelay 1.2s infinite ease-in-out both;
}

footer {
  width: 100%;
  padding: 20px 20px 20px 0;
  background-color: #579C87;
  position: fixed;
  bottom: 0pt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a {
  font-size: 1.5em;
  padding: 0 25px;
}

footer a:hover {
  -webkit-animation: wiggle 0.5s;
          animation: wiggle 0.5s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.carte {
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.carte h2 {
  font-size: 2em;
}

.carte h3 {
  margin-top: 40px;
  font-size: 2em;
}

.carte h4 {
  font-size: 1.1em;
}

.carte h5 {
  font-size: 1.2em;
}

.carte .desserts {
  width: -webkit-fill-available;
}

a {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #FCCA46;
}

span:before,
:after {
  width: 150px;
}

.menuNote,
.menuChic,
.menuDelice,
.menuPalette .entrees,
.plats,
.desserts {
  text-align: center;
}

.menuNote span,
.menuChic span,
.menuDelice span,
.menuPalette .entrees span,
.plats span,
.desserts span {
  display: inline-block;
  position: relative;
}

.menuNote span:before, .menuNote span:after,
.menuChic span:before,
.menuChic span:after,
.menuDelice span:before,
.menuDelice span:after,
.menuPalette .entrees span:before,
.menuPalette .entrees span:after,
.plats span:before,
.plats span:after,
.desserts span:before,
.desserts span:after {
  content: "";
  position: absolute;
  height: 0px;
  border: 2px solid black;
  top: 0;
}

.menuNote span:before,
.menuChic span:before,
.menuDelice span:before,
.menuPalette .entrees span:before,
.plats span:before,
.desserts span:before {
  right: 100%;
  margin: 13px 15px 0 25px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 30% 40% 80% 90%;
}

.menuNote span:after,
.menuChic span:after,
.menuDelice span:after,
.menuPalette .entrees span:after,
.plats span:after,
.desserts span:after {
  left: 100%;
  margin: 13px 25px 0 15px;
  border: solid 3px black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 40% 50% 10% 40%;
}

.title {
  width: 200px;
  margin: auto;
}

.carte h4:after {
  content: '';
  display: block;
  border-bottom: 3px solid black;
  -webkit-box-shadow: 20px 38px 34px -26px black;
          box-shadow: 20px 38px 34px -26px black;
  border-radius: 80% 10% 90% 40%;
  width: 0;
  position: relative;
  left: 50px;
  -webkit-transition: 700ms ease-in-out;
  transition: 700ms ease-in-out;
}

.carte h4:hover:after {
  width: 100px;
}

.puceInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
  line-height: 50%;
}

.prix {
  font-weight: bold;
  padding-left: 100px;
}

@media all and (max-width: 768px) {
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [first] 320px [line2] 320px [end];
        grid-template-columns: [first] 320px [line2] 320px [end];
    -ms-grid-rows: [row1-start] 50% [row1-end] 50% [last-line];
        grid-template-rows: [row1-start] 50% [row1-end] 50% [last-line];
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .menu {
    width: 320px;
  }
  .prix {
    margin-left: 10px;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media all and (max-width: 425px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu {
    width: 300px;
  }
  .carte li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carte li p {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    margin: 0;
  }
  .carte h3 {
    margin-top: 20px;
    font-size: 1.5em;
  }
  .puceInfos {
    padding-bottom: 25px;
  }
  .incoming {
    font-size: 2em;
    width: 300px;
    margin-bottom: 30px;
  }
  footer {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer a {
    margin: auto auto 10px;
  }
  span:before,
  :after {
    width: 50px;
  }
  .desserts span:before,
  ::after {
    width: 35px;
  }
}
/*# sourceMappingURL=style.css.map */