body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #579C87;
  color: #FCCA46;
  margin: 0;
  font-size: 4em;
}

.container, .carte {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 20px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
  color: #FCCA46;
}

.content a {
  font-size: 30px;
}

.incoming a {
  font-size: 1.6em;
}

footer a {
  font-size: 1.5em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 450px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 40px 40px 0;
  -webkit-box-shadow: #e0e0e0 0px 0px 10px 1px;
          box-shadow: #e0e0e0 0px 0px 10px 1px;
}

.menuTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuBot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menuNote {
  background-color: #FCDFDB;
}

.menuChic {
  background-color: #FFF5FE;
}

.menuDelice {
  background-color: #F9F9F9;
}

.menuPalette {
  background-color: #FDFFFD;
}

.carte .menuNote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 700px;
  margin-bottom: 30px;
}

.carte h2 {
  font-size: 36px;
}

.carte h3 {
  margin-top: 100px;
  font-size: 28px;
}

.carte h4 {
  font-size: 20px;
}

.carte h5 {
  font-size: 24px;
}

.puceInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 40px;
  line-height: 200%;
}

.incoming {
  font-size: 24px;
  color: #FCCA46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579C87;
  width: 350px;
  height: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 20px;
  background-color: #579C87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */